# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
Ldvelh_Editor/*.dll
Ldvelh_Reader/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
Ldvelh_Editor/*.exe
Ldvelh_Reader/*.exe
*.out
*.app

# CodeBlocks
*.cbp
*.depend
*.layout


